
form {
	width: 100%;
	height: 100%;
}

.form {
	position: absolute;
	left: 10%;
	width: 80%;
	height: calc(100% - 40px);
	background: #f3eee3;
}

.formPage {
	width: 100%;
}

.pageBody {
	position: absolute;
	max-height: calc(100% - 40px);
	width: 50%;
	overflow-y: auto;
}

.pageControls {
	height: 40px;
	position: absolute;
	bottom: 0px;
}

.tooltip {
	position: fixed;
	z-index: 999;
	background: #2edc15;
	color: white;
	padding: 5px;
	display: none;
}

.error {
	padding: 10px;
	background: red;
	font-weight: bold;
	font-size: 18px;
	color: white;
}

.message {
	padding: 10px;
	font-weight: bold;
	font-size: 18px;
	color: white;
}

.message.err {
	background: red;
}

.message.warning {
	background: #EECC00;
}

.message.status {
	background: #00AACC;
}

.message.info {
	background: #2edc15;
}

.leftcol {
	width: 50%;
	float: left;
	max-height: 100%;
	overflow-y: auto;
}

.midcol {
	width: 50%;
	margin-left: 25%;
	max-height: 100%;
	overflow-y: auto;
}

.rightcol {
	width: 50%;
	float: right;
	max-height: 100%;
	overflow-y: auto;
}

.fullwidcol {
	width: 100%;
	max-height: 100%;
	overflow-y: auto;
}

.formrow {
	padding: 10px;
	display: block;
}

.formlbl {
	font-size: 20px;
}

.formin {
	float: right;
	width: 50%;
	font-size: 20px;
	border-radius: 0px;
	border: none;
	background: #e6e2d7;
	color: black;
	padding: 5px;
	display: inline-block;
}

.input {
	font-size: 20px;
	border-radius: 0px;
	border: none;
	background: #e6e2d7;
	color: black;
	padding: 5px;
}

.formin:focus {
	outline: none;
}

::placeholder {
	color: #BBB;
}

.catfield {
	background: #e6e2d7;
	padding: 10px;
	font-size: 20px;
}

.action {
	border: none;
	background: #2edc15;
	color: white;
	font-size: 16px;
	margin: 10px;
	padding: 8px;
}

.action:hover {
	background: #7be96c;
}

.tabBox {
	
}

.tabBar {
	background: #e6e2d7;
}

.tabBody {
	background: #f3eee3;
}

.tabButtons {
	margin: 10px;
}

.tabbtn {
	box-sizing: border-box;
	border: none;
	color: gray;
	background: #e6e2d7;
	font-size: 16px;
	margin: 0px;
	padding: 10px;
}

.tabbtn.selected {
	color: #2edc15;
	border-top: solid #2edc15 3px;
	background: #f3eee3;
}

/*.tabbtn:hover {
	background: #BBB;
}

.tabbtn.selected:hover {
	background: #7be96c;
}*/

.moveField {
	margin: 2px;
	background: #e6e2d7;
	height: 30px;
	overflow: hidden;
}

.moveField.selected {
	background: #7be96c;
}

.textarea {
	width: 100%;
	height: 150px;
	background: #e6e2d7;
	resize: none;
	border: none;
	border-radius: 0px;
	font-size: 20px;
}

.textarea:focus {
	outline: none;
}

@media only screen and (max-width: 600px) {
	
	.formlbl {
		font-size: 20px;
		width: 100%;
	}

	.formin {
		float: right;
		width: calc(100% - 10px);
		font-size: 20px;
		border-radius: 0px;
		border: none;
		background: #e6e2d7;
		color: black;
		padding: 5px;
	}
	
	.leftcol {
		width: 100%;
		float: left;
		max-height: 100%;
		overflow-y: auto;
	}
	
	.rightcol {
		width: 100%;
		float: right;
		max-height: 100%;
		overflow-y: auto;
	}
	
	.form {
		position: absolute;
		left: 0;
		width: 100%;
		height: calc(100% - 40px);
		background: #f3eee3;
		overflow-y: auto;
	}
	
	.midcol {
		width: 100%;
		margin-left: 0%;
		max-height: 100%;
		overflow-y: auto;
	}
	
}

@media only screen and (max-width: 1440px) {
	
	.formlbl {
		width: 100%;
	}

	.formin {
		width: calc(100% - 10px);
		display: block;
		float: none;
	}
	
}
