.titlebar {
	width: 100%;
	height: 80px;
	background: #f3eee3;
	overflow: auto;
}

.titlea {
	position: absolute;
}

.icon {
	width: 80px;
	height: 80px;
	overflow: hidden;
	display: block;
	float: left;
}

.iconimg {
	margin-left: 10%;
	margin-top: 10%;
	width: 80%;
	height: 80%;
}

.title {
	width: auto;
	height: 60px;
	float: left;
	color: black;
	font-weight: bold;
	font-size: 36px;
	padding-top: 16px;
}

.menu {
	float: right;
	color: black;
	margin-top: 28px;
	margin-right: 10px;
	overflow-x: auto;
	font-size: 22px;
}

.menuItem {
	display: inline;
	cursor: pointer;
	padding-right: 5px;
	padding-left: 5px;
}

.menuImg {
	margin-bottom: -4px;
	width: 24px;
}

.menuTextMode {
	display: inline;
}

.menuImgMode {
	margin-bottom: -4px;
	width: 24px;
	display: none;
}

.popupMenu {
	z-index: 99;
	background: white;
	display: none;
	position: fixed;
	width: 200px;
	line-height: 1.2;
	box-shadow: 0 0 5px 0 gray;
	top: 60px;
	right: 15px;
	background: #f3eee3;
}

.popupMenuItem {
	margin: 5px;
	font-size: 18px;
}

.menuItemIcon {
	float: right;
}

.usermenu {
	display: none;
	z-index: 99;
	background: white;
	position: fixed;
	border: solid 1px;
	background: #e6e2d7;
}

.usermenu_item {
	padding: 5px;
}

.hsep {
	margin: 0px;
	background: black;
	border: none;
	height: 1px;
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.hamburger {
	display: none;
	margin: 10px;
	float: right;
	cursor: pointer;
}

.mobilemenu {
	background: #f3eee3;
	top: 60px;
	width: 100%;
	display: none;
	position: absolute;
	z-index: 99;
}

@media only screen and (max-width: 600px) {
	
	.menu {
		margin-top: 18px;
		margin-right: 5px;
	}
	
	.menuImg {
		
	}
	
	.menuTextMode {
		display: none;
	}
	
	.menuImgMode {
		display: inline;
	}
	
	.popupMenu {
		width: 80%;
	}
	
	.popupMenuItem {
		font-size: 22px;
	}
	
	.mobilemenu {
		background: #f3eee3;
		top: 60px;
		width: 100%;
		display: none;
		position: absolute;
		z-index: 99;
	}
	
	.title {
		width: auto;
		height: 60px;
		float: left;
		color: black;
		font-weight: bold;
		font-size: 28px;
		padding-top: 16px;
	}
	
	.icon {
		width: 60px;
		height: 60px;
		overflow: hidden;
		display: block;
		float: left;
	}
	
	.titlebar {
		width: 100%;
		height: 60px;
		background: #f3eee3;
		overflow: hidden;
	}
	
}
